Package: com.pigigaldi.mibandutilitypreferences
Name: MiBandUtilityPreferences
Depends: preferenceloader, firmware (>= 8.1)
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome preference bundle!
Author: Pigi Galdi
Section: Addons
